aniso8601==1.2.0
asn1crypto==0.24.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.1
enum34==1.1.6
Flask==0.12.1
Flask-Ask==0.9.8
gunicorn==19.6.0
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.19
pyOpenSSL==17.0.0
python-dateutil==2.7.3
PyYAML==3.12
requests==2.19.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
